@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
    perspective: 1500px;
  }
  
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
    transition: transform 0.7s ease-in-out;
  }
  
  .group:hover .relative {
    transform: rotateY(180deg);
  }
  
  